<div class="container">
    <h1>Mark Point And Set Message</h1>

    <agm-map [latitude]='lat' [longitude]='lng' (mapClick)="mapClicked($event)" (click)="openModal(template)">
        <agm-marker *ngFor="let marker of Users;let i = index" (markerClick)=" clickedMarker(marker.latitude, i) " [latitude]="marker.latitude " [longitude]="marker.longitude ">
            <agm-info-window #infoWindow>
                {{ marker.city }}
            </agm-info-window>
        </agm-marker>
    </agm-map>

    <ng-template #template>
        <div class="modal-header ">
            <h4 class="modal-title pull-left ">Message</h4>
            <button type="button " class="close pull-right " aria-label="Close " (click)="modalRef.hide() ">
            <span aria-hidden="true ">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                <input type="text" class="form-control" formControlName="message" id="message" name="message" placeholder="Enter Your Message" /><br/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </ng-template>

</div>